<div class="loadingContainer">

    <!-- <div class="actype">MD-11</div> -->

  <div class="topSideOuterWrap">


    <div class="topSideWrap">
      <div class="md11-rightSide">
        <div class="uld uld-loaded">1R</div>
        <div class="uld uld-loaded">2R</div>
        <div class="uld uld-loaded">3R</div>
        <div class="uld uld-loaded">4R</div>
        <div class="uld">5R</div>
        <div class="uld">6R</div>
        <div class="uld">7R</div>
        <div class="uld">8R</div>
        <div class="uld">9R</div>
        <div class="uld">10R</div>
        <div class="uld">11R</div>
        <div class="uld">12R</div>
      </div>
      <!-- end uld right side -->
      <div class="md11-leftSide">
        <div class="uld uld-loaded">1L</div>
        <div class="uld uld-loaded">2L</div>
        <div class="uld uld-loaded">3L</div>
        <div class="uld">4L</div>
        <div class="uld">5L</div>
        <div class="uld">6L</div>
        <div class="uld">7L</div>
        <div class="uld">8L</div>
        <div class="uld">9L</div>
        <div class="uld">10L</div>
        <div class="uld">11L</div>
        <div class="uld">12L</div>
      </div>
      <!-- end left side -->
    </div>
    <!-- topSideWrap end -->

    <div class="md11-pos13-14-wrap">
      <div class="uld md11-pos13">13</div>
      <div class="uld md11-pos14">14</div>
    </div>

  </div>
  <!-- end topSideOuterWrap -->


  <div class="pSectionWrap">
    <div class="uld md11-posP1">P1</div>
    <div class="uld md11-posP2">P2</div>
    <div class="uld md11-posP3">P3</div>
    <div class="uld md11-posP4">P4</div>
    <div class="uld md11-posP5">P5</div>
    <div class="uld md11-posP6">P6</div>

    <div class="uld md11-posP7">P7</div>
    <div class="uld md11-posP8">P8</div>
    <div class="uld md11-posP9">P9</div>
    <div class="uld md11-posP10">P10</div>
    <div class="uld md11-posP11">P11</div>
    <div class="uld md11-posP12">P12</div>
    <div class="uld md11-posP13">P13</div>
    <div class="uld md11-posAb uld-loaded">AB</div>
  </div>


</div>
<!-- loading container end -->