
  .md11-leftSide {
    clear: left;
  }
  .md11-pos11-12-13-wrap, .md11-pos1-wrap{
    height:50px;
    float:left;
  }
  .md11-pos1, .md11-pos11, .md11-pos12, .md11-pos13{
    margin-top:15px;
  }
  .md11-posP1{
    margin-left:23px;
  }
  .md11-posP5{
    margin-left:75px
  }
  .md11-posAb{
    margin-left:20px;
  }
  
  



  .uld-loaded{
      background-color: #28a745;
      border:solid 1px green;
      color:white;
  }

  
  