<div *ngIf="dialogId === 'favoriteAnimal'">

    <h1>hello! {{data.name}}</h1>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite animal" [(ngModel)]="data.animal">
    </mat-form-field>

    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-raised-button [mat-dialog-close]="data">Save</button>
    </mat-dialog-actions>

</div>


<div *ngIf="dialogId === 'flightDetail'">

    <div mat-dialog-title class="my-font-larger">



        {{data.flightDetail[0].flightNumber}} - {{data.flightDetail[0].flightOrigin}}
        <!-- <i class="material-icons my-font-larger">arrow_forward</i>  -->


        <i *ngIf="data.flightDetail[0].flightDirection === 'Arriving'" class="material-icons my-font-larger" style="float:none">flight_land</i>
        <i *ngIf="data.flightDetail[0].flightDirection === 'Departing'" class="material-icons my-font-larger" style="float:none">flight_takeoff</i> {{data.flightDetail[0].flightDestination}}

        <button mat-dialog-close mat-raised-button mat-icon-button class="more-button small-close-button" aria-label="Toggle menu">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <mat-dialog-content style="padding-bottom:2px;  padding-top: 10px;">
        <!-- <mat-divider></mat-divider> -->


        <!-- <mat-grid-list cols="3" gutterSize="10px" rowHeight="180px">

            <mat-grid-tile> -->

        <mat-card class="captainCard">
            <mat-card-header>

                <mat-card-title>
                    Captain:

                </mat-card-title>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content">
                <!-- <mat-divider></mat-divider> -->
                <p class="my-font">

                    {{data.flightDetail[0].flightCaptain === null ? '- -' : data.flightDetail[0].flightCaptain}}</p>
            </mat-card-content>
        </mat-card>
        <!-- </mat-grid-tile>

            <mat-grid-tile> -->

        <mat-card class="tailCard">
            <mat-card-header>

                <mat-card-title>
                    Tail:

                </mat-card-title>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content">
                <!-- <mat-divider></mat-divider> -->
                <p class="my-font">

                    {{data.flightDetail[0].flightTailNumber === null ? '- -' : data.flightDetail[0].flightTailNumber}}</p>
                <!-- <li> Orientation Gtwy:  {{data.flightDetail[0].flightOrientationGateway}} </li> -->
                <!-- <li> Origin: {{data.flightDetail[0].flightOrigin}} </li> -->
            </mat-card-content>
        </mat-card>
        <!-- </mat-grid-tile>

            <mat-grid-tile> -->

        <mat-card class="rampCard">

            <mat-card-header>

                <mat-card-title>

                    Parking:

                    <!-- <button mat-icon-button class="more-button" 
                            [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                            <mat-menu #menu="matMenu" xPosition="before">
                                <button mat-menu-item>Expand</button>
                                <button mat-menu-item>Remove</button>
                            </mat-menu> -->

                </mat-card-title>

            </mat-card-header>

            <mat-card-content class="dashboard-card-content">
                <!-- <p class="my-font-smaller">Ramp:</p> -->
                <!-- <mat-divider></mat-divider> -->
                <p class="my-font" style="text-align:center">
                    {{data.flightDetail[0].flightParkingPosition === null ? '- -' : data.flightDetail[0].flightParkingPosition}}
                    <!-- {{data.flightDetail[0].flightParkingPosition}} -->
                </p>
                <!-- <li> Route With Number: {{data.flightDetail[0].flightRouteWithNumber}} </li>  -->

                <!-- <li> LTP Data: {{data.flightDetail[0].flightLTPData}} </li> -->
                <!-- <mat-divider></mat-divider> -->
            </mat-card-content>
        </mat-card>
        <!-- </mat-grid-tile>
        </mat-grid-list> -->

        <mat-card class="flightDetailCard">

            <mat-card-header>

                <mat-card-title>
                    Details:
                    <button mat-icon-button class="more-button float-right" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item>Expand</button>
                        <button mat-menu-item>Remove</button>
                    </mat-menu>

                </mat-card-title>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content">


                <table id="flightDetailCardTable" style="width:100%" mat-table [dataSource]="dataSource" class="mat-elevation-z1">

                    <ng-container matColumnDef="flightdate">
                        <th mat-header-cell *matHeaderCellDef> Flight Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.flightdate | date:'MM/dd/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="schedtime">
                        <th mat-header-cell *matHeaderCellDef> Sch Time: </th>
                        <td mat-cell *matCellDef="let element"> {{element.schedtime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="esttime">
                        <th mat-header-cell *matHeaderCellDef> Est Time: </th>
                        <td mat-cell *matCellDef="let element"> {{element.esttime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estloadtime">
                        <th mat-header-cell *matHeaderCellDef> Est Load: </th>
                        <td mat-cell *matCellDef="let element"> {{element.estloadtime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastuldloadtime">
                        <th mat-header-cell *matHeaderCellDef> Last ULD: </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastuldloadtime}} </td>
                    </ng-container>

                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef> State: </th>
                        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status: </th>
                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container> -->

                    <tr mat-header-row *matHeaderRowDef="detailDisplayCols"></tr>
                    <tr mat-row *matRowDef="let row; columns: detailDisplayCols;"></tr>
                </table>

                <mat-grid-list id="flightDetailCardGridList" cols="2" rowHeight="30px" style="width:260px;">
                    <mat-grid-tile>Flight Date:</mat-grid-tile>
                    <mat-grid-tile>{{data.flightDetail[0].flightDate.millis | date:'MM/dd/yyyy'}}</mat-grid-tile>

                    <mat-grid-tile>Sched Time: </mat-grid-tile>
                    <mat-grid-tile>{{data.flightDetail[0].flightSchedTime}}</mat-grid-tile>

                    <mat-grid-tile>Est Time: </mat-grid-tile>
                    <mat-grid-tile>{{data.flightDetail[0].flightEstTime === null ? '- -' : data.flightDetail[0].flightEstTime}} {{data.flightDetail[0].flightEstTimeDiff}}</mat-grid-tile>

                    <mat-grid-tile>Est Load Time: </mat-grid-tile>
                    <mat-grid-tile>{{data.flightDetail[0].flightLoadEstimate === null ? '- -' : data.flightDetail[0].flightLoadEstimate}}</mat-grid-tile>

                    <mat-grid-tile>Last ULD Time: </mat-grid-tile>
                    <mat-grid-tile>{{data.flightDetail[0].flightLastUldTs === null ? '- -' : data.flightDetail[0].flightLastUldTs}} </mat-grid-tile>

                    <mat-grid-tile>State:</mat-grid-tile>
                    <mat-grid-tile>{{data.flightDetail[0].flightState === null ? '- -' : data.flightDetail[0].flightState}}</mat-grid-tile>

                    <!-- <mat-grid-tile>Status:</mat-grid-tile>
                    <mat-grid-tile>{{data.flightDetail[0].flightStatus === null ? '- -' : data.flightDetail[0].flightStatus}}</mat-grid-tile> -->
                </mat-grid-list>

            </mat-card-content>


        </mat-card>
        <mat-card #uldContainerCard class="uldContainerCard" [class.removePositionsLoaded]="removePositionsLoaded" [class.collapsePositionsLoaded]="!showPositionsLoaded">
            <mat-card-header>

                <mat-card-title>
                    Load Status:
                    <button mat-icon-button class="more-button float-right" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="showPositionsLoaded = !showPositionsLoaded">{{showPositionsLoaded == false ? 'Expand' : 'Collpase'}}</button>
                        <button mat-menu-item (click)="removePositionsLoaded = true">Remove</button>
                    </mat-menu>

                </mat-card-title>
            </mat-card-header>

            <mat-card-content class="dashboard-card-content" *ngIf="showPositionsLoaded">
                <!-- <mat-divider></mat-divider> -->
                <div class="loading-status-text">{{data.flightDetail[0].flightStatus}}</div>
                <app-a300600 *ngIf="data.flightDetail[0].flightAircraftType === 'A30'" [flightLTPData]="data.flightDetail[0]"></app-a300600>
                <app-b7478 *ngIf="data.flightDetail[0].flightAircraftType === '74Y'" [flightLTPData]="data.flightDetail[0]"></app-b7478>
                <app-b747400 *ngIf="data.flightDetail[0].flightAircraftType === '74P'" [flightLTPData]="data.flightDetail[0]"></app-b747400>
                <app-b757200 *ngIf="data.flightDetail[0].flightAircraftType === '75P'" [flightLTPData]="data.flightDetail[0]"></app-b757200>
                <app-b767300 *ngIf="data.flightDetail[0].flightAircraftType === '76P'" [flightLTPData]="data.flightDetail[0]"></app-b767300>
                <app-md11 *ngIf="data.flightDetail[0].flightAircraftType === 'M1F'" [flightLTPData]="data.flightDetail[0]"></app-md11>

            </mat-card-content>
        </mat-card>


    </mat-dialog-content>
    <!-- <mat-dialog-actions>
        <button mat-button mat-dialog-close>No</button>
   
        <button mat-button [mat-dialog-close]="true">Yes</button>
    </mat-dialog-actions> -->

</div>