<div class="uld" [class.posCenter]="posClass === 'posCenter'" [class.posRight]="posClass === 'posRight'" [class.posLeft]="posClass === 'posLeft'"
  [class.uld-loaded]="positionStatus === 'FILLED'" [class.uld-void]="positionStatus === 'VOID'">

  <div class="pos-label">{{positionLabel}}
    <div class="pos-lock" *ngIf="positionLock === 'Y'">
      <i class="material-icons">lock</i>
    </div>
  </div>

  <div class="pos-weight">{{positionWeight | number }}</div>

  <div class="pos-uld-number">{{ positionUldNumber | onlyNumbers }}</div>

</div>