<div class="loadingContainer">

    <!-- <div class="actype">A300-600</div> -->
    <div class="deckTitle">Upper Deck</div>
    <div class="topSideOuterWrap">

        <div class="a300600-pos1-wrap">
            <div class="uld a300600-pos1 uld-loaded">1</div>
        </div>

        <div class="topSideWrap">
            <div class="a300600-rightSide">
                <div class="uld uld-loaded">2R</div>
                <div class="uld uld-loaded">3R</div>
                <div class="uld uld-loaded">4R</div>
                <div class="uld">5R</div>
                <div class="uld">6R</div>
                <div class="uld">7R</div>
                <div class="uld">8R</div>
                <div class="uld">9R</div>
                <div class="uld">10R</div>
            </div>
            <!-- end uld right side -->
            <div class="a300600-leftSide">
                <div class="uld uld-loaded">2L</div>
                <div class="uld uld-loaded">3L</div>
                <div class="uld">4L</div>
                <div class="uld">5L</div>
                <div class="uld">6L</div>
                <div class="uld">7L</div>
                <div class="uld">8L</div>
                <div class="uld">9L</div>
                <div class="uld">10L</div>
            </div>
            <!-- end left side -->
        </div>
        <!-- topSideWrap end -->

        <div class="a300600-pos11-12-13-wrap">
            <div class="uld a300600-pos11">11</div>
            <div class="uld a300600-pos12">12</div>
            <div class="uld a300600-pos13">13</div>
        </div>

    </div>
    <!-- end topSideOuterWrap -->

    <div class="deckTitle">Lower Deck</div>
    <div class="pSectionWrap">
        <div class="uld a300600-posP1">P1</div>
        <div class="uld a300600-posP2">P2</div>
        <div class="uld a300600-posP3">P3</div>
        <div class="uld a300600-posP4">P4</div>
        <div class="uld a300600-posP5">P5</div>
        <div class="uld a300600-posP6">P6</div>
        <div class="uld a300600-posP7">P7</div>
        <div class="uld a300600-posAb uld-loaded">AB</div>
    </div>


</div>
<!-- loading container end -->