
  .b7478-leftSide {
    clear: left;
  }
  .b7478-pos20-wrap, .b7478-pos1-wrap{
    height:50px;
    float:left;
  }
  .b7478-pos1, .b7478-pos2, .b7478-pos20{
    margin-top:10px;
  }
  .b7478-posP1{
    margin-left:23px;
  }
  .b7478-posP6{
    margin-left:50px
  }
  .b7478-posAb{
    margin-left:20px;
  }
  .b7478-pos4L{
    margin-left:18px;
  }
  .b7478-pos18L{
    margin-left:8px;
  }
  .b7478-pos20 {
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Safari */
    transform: rotate(30deg); /* Standard syntax */
    margin-left: 2px;
  }
  



  .uld-loaded{
      background-color: #28a745;
      border:solid 1px green;
      color:white;
  }

  
  