<mat-sidenav-container class="sidenavContainer">

    <mat-sidenav #sidenav [mode]="'push'">
        <div style="width:320px">
            <p style="float:right"><button mat-button (click)="sidenav.toggle()" style="height:46px"><i class="material-icons">menu</i></button></p>
            <app-left-slideout></app-left-slideout>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-navbar (notifyParent)="getNotification($event)"></app-navbar>
        <router-outlet></router-outlet>
        <div style="margin-bottom:50px">
            <!-- bottom space -->
        </div>
        <mat-toolbar class="footer1">

            <span>Copyright &copy; 2018  United Parcel Service of America, Inc. All rights reserved</span>

        </mat-toolbar>
    </mat-sidenav-content>

</mat-sidenav-container>