<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav [mode]="'push'">
        <div style="width:320px">
            <p style="float:right"><button mat-button (click)="sidenav.toggle()"><i class="material-icons">
menu
</i></button></p>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-button (click)="sidenav.toggle()" style="position: absolute; top: 0; left:0"><i class="material-icons">
menu
</i></button>
        <app-navbar></app-navbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>