<div class="loadingContainer" *ngIf="flightLTPData; else noFlightLTPData">



    <div class="v-uld-outerWrap">

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posCenter" [position]="pos1"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos2R" *ngIf="!show2C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos2C" *ngIf="show2C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos2L" *ngIf="!show2C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos3R" *ngIf="!show3C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos3C" *ngIf="show3C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos3L" *ngIf="!show3C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos4R" *ngIf="!show4C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos4C" *ngIf="show4C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos4L" *ngIf="!show4C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos5R" *ngIf="!show5C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos5C" *ngIf="show5C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos5L" *ngIf="!show5C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos6R" *ngIf="!show6C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos6C" *ngIf="show6C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos6L" *ngIf="!show6C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos7R" *ngIf="!show7C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos7C" *ngIf="show7C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos7L" *ngIf="!show7C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos8R" *ngIf="!show8C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos8C" *ngIf="show8C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos8L" *ngIf="!show8C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos9R" *ngIf="!show9C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos9C" *ngIf="show9C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos9L" *ngIf="!show9C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos10R" *ngIf="!show10C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos10C" *ngIf="show10C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos10L" *ngIf="!show10C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos11R" *ngIf="!show11C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos11C" *ngIf="show11C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos11L" *ngIf="!show11C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posRight" [position]="pos12R" *ngIf="!show12C"></app-load-position-top>
            <app-load-position-top class="uld posCenter" [position]="pos12C" *ngIf="show12C"></app-load-position-top>
            <app-load-position-top class="uld posLeft" [position]="pos12L" *ngIf="!show12C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top class="uld posCenter" [position]="pos13"></app-load-position-top>
        </div>

    </div>






    <!-- 


    <div class="deckTitle">Upper Deck </div>
    <div class="topSideOuterWrap">
        <div class="b767300-pos1-wrap">
            <app-load-position-top class="uld b767300-pos1" [position]="pos1"></app-load-position-top>
        </div>
        <div class="topSideWrap">
            <div class="b767300-rightSide">
                <app-load-position-top class="uld b767300-pos2R" [position]="pos2R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos3R" [position]="pos3R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos4R" [position]="pos4R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos5R" [position]="pos5R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos6R" [position]="pos6R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos7R" [position]="pos7R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos8R" [position]="pos8R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos9R" [position]="pos9R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos10R" [position]="pos10R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos11R" [position]="pos11R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos12R" [position]="pos12R"></app-load-position-top>
            </div>
            <div class="b767300-leftSide">
                <app-load-position-top class="uld b767300-pos2L" [position]="pos2L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos3L" [position]="pos3L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos4L" [position]="pos4L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos5L" [position]="pos5L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos6L" [position]="pos6L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos7L" [position]="pos7L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos8L" [position]="pos8L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos9L" [position]="pos9L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos10L" [position]="pos10L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos11L" [position]="pos11L"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos12L" [position]="pos12L"></app-load-position-top>
            </div>
        </div>
        <div class="b767300-pos11-12-13-wrap">
            <app-load-position-top class="uld b767300-pos13" [position]="pos13"></app-load-position-top>
        </div>
    </div>
 -->
    <div class="deckTitle">Lower Deck</div>
    <div class="pSectionWrap">
        <app-load-position-psection class="uld b767300-posP1" [position]="posP1"></app-load-position-psection>
        <app-load-position-psection class="uld b767300-posP2" [position]="posP2"></app-load-position-psection>
        <app-load-position-psection class="uld b767300-posP3" [position]="posP3"></app-load-position-psection>
        <app-load-position-psection class="uld b767300-posP4" [position]="posP4"></app-load-position-psection>
        <app-load-position-psection class="uld b767300-posP5" [position]="posP5"></app-load-position-psection>
        <app-load-position-psection class="uld b767300-posP6" [position]="posP6"></app-load-position-psection>
        <app-load-position-psection class="uld b767300-posP7" [position]="posP7"></app-load-position-psection>
        <app-load-position-ab class="b767300-posAb" [ab]="posAb1"></app-load-position-ab>
        <app-load-position-ab class="b767300-posAb" [ab]="posAb2"></app-load-position-ab>
    </div>


</div>
<ng-template class="loadingContainer" #noFlightLTPData>No Load Data Available...</ng-template>