<div class="loadingContainer" *ngIf="flightLTPData; else noFlightLTPData">

    <!-- <div class="actype">B767-300</div> -->
    <div class="deckTitle">Upper Deck </div>
    <div class="topSideOuterWrap">

        <div class="b767300-pos1-wrap">
            <app-load-position-top class="uld b767300-pos1" [position]="pos1"></app-load-position-top>
            <!-- <div class="uld b767300-pos1" [class.uld-loaded]="flightLTPData.position[3].positionStatus === 'FILLED'" [class.uld-void]="flightLTPData.position[3].positionStatus === 'VOID'" class="uld b767300-pos1">1</div> -->
        </div>

        <div class="topSideWrap">
            <div class="b767300-rightSide">
                <!-- <div [class.uld-loaded]="flightLTPData.position[2].positionStatus === 'FILLED'" [class.uld-void]="flightLTPData.position[2].positionStatus === 'VOID'" class="uld">2R</div> -->
                <app-load-position-top class="uld b767300-pos2R" [position]="pos2R"></app-load-position-top>
                <app-load-position-top class="uld b767300-pos3R" [position]="pos3R"></app-load-position-top>
                <div class="uld">4R</div>
                <div class="uld">5R</div>
                <div class="uld">6R</div>
                <div class="uld">7R</div>
                <div class="uld">8R</div>
                <div class="uld">9R</div>
                <div class="uld">10R</div>
                <div class="uld">11R</div>
                <div class="uld">12R</div>
            </div>
            <!-- end uld right side -->
            <div class="b767300-leftSide">
                <app-load-position-top class="uld b767300-pos2L" [position]="pos2L"></app-load-position-top>
                <div class="uld">3L</div>
                <div class="uld">4L</div>
                <div class="uld">5L</div>
                <div class="uld">6L</div>
                <div class="uld">7L</div>
                <div class="uld">8L</div>
                <div class="uld">9L</div>
                <div class="uld">10L</div>
                <div class="uld">11L</div>
                <div class="uld">12L</div>
            </div>
            <!-- end left side -->
        </div>
        <!-- topSideWrap end -->

        <div class="b767300-pos11-12-13-wrap">
            <div class="uld b767300-pos13">13</div>
        </div>

    </div>
    <!-- end topSideOuterWrap -->

    <div class="deckTitle">Lower Deck</div>
    <div class="pSectionWrap">
        <div class="uld b767300-posP1">P1</div>
        <div class="uld b767300-posP2">P2</div>
        <div class="uld b767300-posP3">P3</div>
        <div class="uld b767300-posP4">P4</div>
        <div class="uld b767300-posP5">P5</div>
        <div class="uld b767300-posP6">P6</div>
        <div class="uld b767300-posP7">P7</div>
        <app-load-position-ab class="b767300-posAb" [ab1]="flightLTPData.position[0]" [ab2]="flightLTPData.position[1]"></app-load-position-ab>
    </div>


</div>
<!-- loading container end -->

<ng-template class="loadingContainer" #noFlightLTPData>No Load Data Available...</ng-template>