<div class="loadingContainer" *ngIf="flightLTPData; else noFlightLTPData">

    <div class="v-uld-outerWrap">

        <div class="v-uld-wrap">
            <app-load-position-top class="posCenter" [posClass]="'posCenter'" [position]="pos1"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos2R" *ngIf="!show2C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos2C" *ngIf="show2C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos2L" *ngIf="!show2C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos3R" *ngIf="!show3C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos3C" *ngIf="show3C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos3L" *ngIf="!show3C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos4R" *ngIf="!show4C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos4C" *ngIf="show4C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos4L" *ngIf="!show4C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos5R" *ngIf="!show5C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos5C" *ngIf="show5C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos5L" *ngIf="!show5C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos6R" *ngIf="!show6C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos6C" *ngIf="show6C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos6L" *ngIf="!show6C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos7R" *ngIf="!show7C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos7C" *ngIf="show7C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos7L" *ngIf="!show7C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos8R" *ngIf="!show8C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos8C" *ngIf="show8C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos8L" *ngIf="!show8C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos9R" *ngIf="!show9C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos9C" *ngIf="show9C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos9L" *ngIf="!show9C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos10R" *ngIf="!show10C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos10C" *ngIf="show10C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos10L" *ngIf="!show10C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos11R" *ngIf="!show11C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos11C" *ngIf="show11C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos11L" *ngIf="!show11C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posRight'" [position]="pos12R" *ngIf="!show12C"></app-load-position-top>
            <app-load-position-top [posClass]="'posCenter'" [position]="pos12C" *ngIf="show12C"></app-load-position-top>
            <app-load-position-top [posClass]="'posLeft'" [position]="pos12L" *ngIf="!show12C"></app-load-position-top>
        </div>

        <div class="v-uld-wrap">
            <app-load-position-top [posClass]="'posCenter'" [position]="pos13"></app-load-position-top>
        </div>

    </div> <!-- end v-uld-outerWrap -->


    <div class="pSectionWrap">
        <app-load-position-psection class="b767300-posP1" [position]="posP1"></app-load-position-psection>
        <app-load-position-psection class="b767300-posP2" [position]="posP2"></app-load-position-psection>
        <app-load-position-psection class="b767300-posP3" [position]="posP3"></app-load-position-psection>
        <app-load-position-psection class="b767300-posP4" [pRightMargin]=true [position]="posP4"></app-load-position-psection>
        <app-load-position-psection class="b767300-posP5" [position]="posP5"></app-load-position-psection>
        <app-load-position-psection class="b767300-posP6" [position]="posP6"></app-load-position-psection>
        <app-load-position-psection class="b767300-posP7" [pRightMargin]=true [position]="posP7"></app-load-position-psection>
        <app-load-position-ab class="b767300-posAb" [ab]="posAb1"></app-load-position-ab>
        <app-load-position-ab class="b767300-posAb" [ab]="posAb2"></app-load-position-ab>
    </div>


</div> <!-- end loadingContainer -->

<ng-template class="loadingContainer" #noFlightLTPData>No Load Data Available...</ng-template>