<div class="loadingContainer">

    <!-- <div class="actype">B747-400</div> -->
    <div class="deckTitle">Upper Deck</div>
    <div class="topSideOuterWrap">

        <div class="b747400-pos1-wrap">
            <div class="uld b747400-pos1 uld-loaded">1</div>
            <div class="uld b747400-pos2 uld-loaded">2</div>
        </div>



        <div class="topSideWrap">
            <div class="b747400-rightSide">
                <div class="uld uld-loaded">3</div>
                <div class="uld uld-loaded">4R</div>
                <div class="uld">5R</div>
                <div class="uld">6R</div>
                <div class="uld">7R</div>
                <div class="uld">8R</div>
                <div class="uld">9R</div>
                <div class="uld">10R</div>
                <div class="uld">11R</div>
                <div class="uld">12R</div>
                <div class="uld">13R</div>
                <div class="uld">14R</div>
                <!-- <div class="uld">15R</div>
            <div class="uld">16R</div>
            <div class="uld">17R</div> -->
                <div class="uld">18R</div>
                <div class="uld">19R</div>
            </div>
            <!-- end uld right side -->
            <div class="b747400-leftSide">
                <div class="uld b747400-pos4L">4L</div>
                <div class="uld">5L</div>
                <div class="uld">6L</div>
                <div class="uld">7L</div>
                <div class="uld">8L</div>
                <div class="uld">9L</div>
                <div class="uld">10L</div>
                <div class="uld">11L</div>
                <div class="uld">12L</div>
                <div class="uld">13L</div>
                <div class="uld">14L</div>
                <!-- <div class="uld">15L</div>
            <div class="uld">16L</div>
            <div class="uld">17L</div> -->
                <div class="uld b747400-pos18L">18L</div>
                <div class="uld">19L</div>
            </div>
            <!-- end left side -->
        </div>
        <!-- topSideWrap end -->

        <div class="b747400-pos20-wrap">
            <div class="uld b747400-pos20">20</div>
        </div>

    </div>
    <!-- end topSideOuterWrap -->

    <div class="deckTitle">Lower Deck</div>
    <div class="pSectionWrap">
        <div class="uld b747400-posP1">P1</div>
        <div class="uld b747400-posP2">P2</div>
        <div class="uld b747400-posP3">P3</div>
        <div class="uld b747400-posP4">P4</div>
        <div class="uld b747400-posP5">P5</div>

        <div class="uld b747400-posP6">P6</div>
        <div class="uld b747400-posP7">P7</div>
        <div class="uld b747400-posP7">P8</div>
        <div class="uld b747400-posP7">P9</div>
        <div class="uld b747400-posAb uld-loaded">AB</div>
    </div>


</div>
<!-- loading container end -->