/* @import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css'; */


/* @import '~@swimlane/ngx-datatable/release/assets/icons.css'; */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*@import '~@swimlane/ngx-datatable/release/assets/app.css';*/

.center-page-text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.myProgressSpinner {
    left: 50%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
}