/* @import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css'; */


/* @import '~@swimlane/ngx-datatable/release/assets/icons.css'; */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*@import '~@swimlane/ngx-datatable/release/assets/app.css';*/

.center-page-text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}


.headerInset {
    width: 79px;
    height: 47px;
    border-right: 5px solid #666;
    background: #333333;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    padding-left: 0px;
    display: inline-block;
    float: left;
    margin-left: -5px;
}

.zone-header {
    transform: skew(5deg);
}

.zone-header img {
    margin-left: 1px;
    margin-top: -10px;
    max-width: 37px !important;
    max-height: 40px !important;
}

.navbar-brand {
    float: left;
    height: 48px;
    padding: 15px 15px;
    font-size: 18px;
    /* line-height: 34px; */
}

.navbar-brand img {
    padding-right: 0px;
}

.navbar-brand>img {
    display: block;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.brandingText {
    display: inline-block;
    float: left;
    color: #FFF;
    margin-top: 16px;
    margin-left: 32px;
    line-height: 19px;
}

.ups-top-navigation {
    background: #282829;
    border-top: 0px;
    border-bottom: 2px solid #929292;
    box-shadow: 0 1px 6px 1px rgba(0,0,0,0.5);
    z-index: 999;
    height: 48px;
    min-height: 48px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default {
    border-color: #e7e7e7;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 48px !important;
    padding-left:0px !important;
}

.mat-toolbar {
    color:white;
}

.navBarSlideOverButton{
    position: relative;
    top: 0;
    left: 46px;
    height: 48px;
    z-index: 9999999;
    color: white !important;
}

.myProgressSpinner {
    left: 50%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;

}