/* @import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css'; */


/* @import '~@swimlane/ngx-datatable/release/assets/icons.css'; */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*@import '~@swimlane/ngx-datatable/release/assets/app.css';*/

body,
.mat-card,
.mat-dialog-title,
.mat-menu-item {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif !important;
}

.myMatList li {
    font-size: 16px;
}

.mat-bottom-sheet-container {
    background-color: #ec9f0b !important;
}

.footer1 {
    background-color: #d2d2d2;
    position: fixed;
    bottom: 0;
}

.footer1 span {
    margin-left: 15px;
    font-weight: normal;
    font-size: 12px;
}

.center-page-text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.headerInset {
    width: 79px;
    height: 47px;
    border-right: 5px solid #666;
    background: #333333;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    padding-left: 0px;
    display: inline-block;
    float: left;
    margin-left: -5px;
}

.headerInset2 {
    width: 6px;
    height: 47px;
    border-right: 5px solid #999;
    background: #333333;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    padding-left: 0px;
    display: inline-block;
    float: left;
    margin-left: 2px;
}

.headerInset3 {
    width: 6px;
    height: 47px;
    border-right: 5px solid #ccc;
    background: #333333;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    padding-left: 0px;
    display: inline-block;
    float: left;
    margin-left: 2px;
}

.zone-header {
    transform: skew(5deg);
}

.zone-header img {
    margin-left: 1px;
    margin-top: -10px;
    max-width: 37px !important;
    max-height: 40px !important;
}

.navbar-brand {
    float: left;
    height: 48px;
    padding: 15px 15px;
    font-size: 18px;
    /* line-height: 34px; */
}

.navbar-brand img {
    padding-right: 0px;
}

.navbar-brand>img {
    display: block;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.brandingText {
    display: inline-block;
    float: left;
    color: #FFF;
    margin-top: 16px;
    margin-left: 32px;
    line-height: 19px;
    letter-spacing: 7.5px;
    font-style: italic;
}

.ups-top-navigation {
    background: #282829;
    border-top: 0px;
    border-bottom: 2px solid #929292;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 48px;
    min-height: 48px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default {
    border-color: #e7e7e7;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 48px !important;
    padding-left: 0px !important;
}

.mat-toolbar {
    color: white;
}

.navBarSlideOverButton {
    color: #d2d2d2 !important;
    background-color: #717171;
    min-width: 80px !important;
    padding-left: 14px !important;
    height: 47px !important;
}

.myProgressSpinner {
    left: 50%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
}

.sidenavContainer {
    padding-top: 50px;
}

.datatable-row-wrapper {
    border-top: solid 1px #ddd !important;
}

.mat-checkbox-label {
    font-size: 12px !important;
}

.my-font-larger {
    font-size: 35px;
    /* font-size: 3.6vw; */
}

.my-font {
    font-size: 28px;
    /* font-size: 2.6vw; */
    /* white-space: nowrap; */
}

.my-font-smaller {
    font-size: 18px;
    /* font-size: 2vw; */
}

.topsideContainers .containerPosition {
    max-width: 25px;
    max-height: 25px;
}

.pSectionContainers .containerPosition {
    max-width: 25px;
    max-height: 25px;
}

.psectionContainer {}

.containerPosition {
    border: solid 1px #ccc;
    font-size: 11px;
}

.containerLoaded {
    background-color: lightgreen;
    border-color: green;
    border-radius: 3px;
}

#flightDetailCardGridList .mat-grid-tile .mat-figure {
    justify-content: left !important;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: gainsboro;
}

.uldContainerCard {
    float: left;
    width: 744px;
    height: 252px;
    margin: auto;
    margin-top: 14px;
    clear: left;
}

.flightDetailCard {
    float: left;
    clear: left;
    width: 744px;
    height: 182px !important;
}

.captainCard {
    width: 340px;
    height: 114px;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
}

.tailCard {
    width: 196px;
    height: 114px;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
}

.rampCard {
    width: 180px;
    height: 114px;
    float: left;
    margin-bottom: 14px;
}

.uld-shape-map {
    background-color: green;
}

.uld-shape-map:hover {
    background-color: red;
}

.float-right {
    position: absolute !important;
    right: 2px;
    top: 3px;
}

#flightDetail {
    background-color: #e3e3e3;
}

#flightDetail .mat-card-header-text {
    width: 100%;
}

.small-close-button {
    float: right !important;
}

.actype {
    margin-bottom: 15px;
}

.mat-card {
    padding-top: 5px !important;
}

.mat-card-title {
    font-size: 14px !important;
    font-weight: bold !important;
}

.mat-card-header-text {
    margin: 0px !important;
}

.mat-card-header {
    border-bottom: solid 1px #e3e3e3;
}

.mat-card-content {
    margin-top: 10px !important;
}

.uld {
    width: 40px;
    height: 46px;
    line-height: 14px;
    background-color: whitesmoke;
    border: 1px solid #aaa;
    float: left;
    font-size: 14px;
    text-align: center;
    color: #555;
    margin: 1px;
    border-radius: 3px;
}

.pSectionWrap .uld {
    width: 32px;
    height: 40px;
    line-height: 14px;
    padding: 0;
    padding-top: 6px;
}

.deckTitle {
    clear: both;
    font-size: 12px;
    padding-top: 6px;
}

.topSideWrap {
    float: left;
}

.pSectionWrap {
    clear: left;
    height: 25px;
    float: left;
    margin-top: 2px;
}
.loading-status-text{
    color: grey;
    font-weight: normal;
    font-size: 13px;
    margin-right:30px;
}
.ac-type{
    font-weight:normal;
}

.uld-void {
    background-color: grey;
    border-color: #444;
    color: #333;
}

.pos-weight {
    font-size: 9px;
}

/* new vertical position layout */
.posRight{
    /* display:none; */
  }
  .posCenter{
    clear:left;
    margin-top:25px;
  }
  .posLeft{
    clear:left;
    /* display:none; */
  }
  .v-uld-wrap{
    height:98px;
    width:44px;
    float:left;
    border:solid 1px #e3e3e3;
  }
  .v-uld-wrap-outerWrap{
    
  }
  .pos-uld-number{
      font-size:10px;
  }
  .pos-label{
      font-size:12px;
  } 
  /* new vertical position layout */




/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .brandingText {
        font-size: 19px;
        margin-left: 10px;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
    .brandingText {
        font-size: 19px;
        margin-left: 10px;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 415px) {
    /* Styles */
    .brandingText {
        font-size: 19px;
        margin-left: 10px;
    }
    .uldContainerCard {
        float: left;
        width: 260px;
        margin-left: 0px;
        margin-top: 14px;
    }
    .flightDetailCard {
        float: left;
        width: 260px;
       
    }
    #flightDetail .mat-dialog-content {
        padding-left: 20px;
    }
    .my-font-larger {
        font-size: 24px;
    }
    .my-font {
        font-size: 20px;
    }
    .captainCard {
        width: 317px;
        height: 82px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .tailCard {
        width: 151px;
        height: 82px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .rampCard {
        width: 151px;
        height: 82px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .flightDetailCard {
        width: 317px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        height: 280px !important;
    }
    .uldContainerCard {
        width: 317px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }
    .mat-dialog-content {
        padding-right: 20px !important;
    }
    .datatable-footer-inner {
        height: 70px !important;
    }
    .float-right {
        top: -7px;
    }
    .cdk-overlay-pane {
        max-width: 95vw !important;
    }
    .small-close-button {
        width: 30px !important;
        height: 30px !important;
        line-height: 20px !important;
        float: right !important;
    }
    .uld {
        width: 17px;
        height: 19px;
        line-height: 18px;
        background-color: whitesmoke;
        border: 1px solid #aaa;
        float: left;
        font-size: 9px;
        text-align: center;
        color: #555;
        margin: 1px;
        border-radius: 3px;
    }
    .pSectionWrap .uld {
        width: 17px;
        height: 19px;
        line-height: 18px;
    }
    .b757200-pos34 {
        margin-left: 94px !important;
    }
    .b767300-pos13 {
        margin-top: 12px !important;
    }
    .md11-posAb {
        margin-left: 4px !important;
    }
    .md11-posP7 {
        margin-left: 12px !important;
    }
    .b757200-pos31 {
        margin-left: 78px !important;
    }
    #flightDetailCardGridList {
        display: block !important;
    }
    #flightDetailCardTable {
        display: none !important;
    }
}

@media only screen and (min-width: 667px) and (max-width: 768px) {
    .uldContainerCard {
        float: left;
        width: 308px;
        margin: auto;
        margin-left: 0px;
        margin-top: 14px;
    }
    .flightDetailCard {
        float: left;
        margin-left: 14px;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/**********
iPad 3
**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}