/* @import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css'; */


/* @import '~@swimlane/ngx-datatable/release/assets/icons.css'; */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/*@import '~@swimlane/ngx-datatable/release/assets/app.css';*/

.myMatList li{

    font-size: 16px;

}

.mat-bottom-sheet-container {
    background-color: #ec9f0b !important;
}

.footer1 {
    background-color: #d2d2d2;
    position: fixed;
    bottom: 0;
}

.footer1 span {
    margin-left: 15px;
    font-weight: normal;
    font-size: 12px;
}

.center-page-text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.headerInset {
    width: 79px;
    height: 47px;
    border-right: 5px solid #666;
    background: #333333;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    padding-left: 0px;
    display: inline-block;
    float: left;
    margin-left: -5px;
}

.headerInset2 {
    width: 6px;
    height: 47px;
    border-right: 5px solid #999;
    background: #333333;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    padding-left: 0px;
    display: inline-block;
    float: left;
    margin-left: 2px;
}

.headerInset3 {
    width: 6px;
    height: 47px;
    border-right: 5px solid #ccc;
    background: #333333;
    -webkit-transform: skew(-5deg);
    transform: skew(-5deg);
    padding-left: 0px;
    display: inline-block;
    float: left;
    margin-left: 2px;
}

.zone-header {
    transform: skew(5deg);
}

.zone-header img {
    margin-left: 1px;
    margin-top: -10px;
    max-width: 37px !important;
    max-height: 40px !important;
}

.navbar-brand {
    float: left;
    height: 48px;
    padding: 15px 15px;
    font-size: 18px;
    /* line-height: 34px; */
}

.navbar-brand img {
    padding-right: 0px;
}

.navbar-brand>img {
    display: block;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.brandingText {
    display: inline-block;
    float: left;
    color: #FFF;
    margin-top: 16px;
    margin-left: 32px;
    line-height: 19px;
    letter-spacing: 7.5px;
    font-style: italic;
}

.ups-top-navigation {
    background: #282829;
    border-top: 0px;
    border-bottom: 2px solid #929292;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 48px;
    min-height: 48px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default {
    border-color: #e7e7e7;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 48px !important;
    padding-left: 0px !important;
}

.mat-toolbar {
    color: white;
}

.navBarSlideOverButton {
    color: #d2d2d2 !important;
    background-color: #717171;
    min-width: 80px !important;
    padding-left: 14px !important;
    height: 47px !important;
}

.myProgressSpinner {
    left: 50%;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
}

.sidenavContainer {
    padding-top: 50px;
}

.datatable-row-wrapper {
    border-top: solid 1px #ddd !important;
}

.mat-checkbox-label {
    font-size: 12px !important;
}


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Styles */
    .brandingText {
        font-size: 19px;
        margin-left: 10px;
    }
}


/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) {
    /* Styles */
    .brandingText {
        font-size: 19px;
        margin-left: 10px;
    }
}


/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    /* Styles */
    .brandingText {
        font-size: 19px;
        margin-left: 10px;
    }
}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles */
}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* Styles */
}


/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles */
}


/**********
iPad 3
**********/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* Styles */
}


/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* Styles */
}


/* iPhone 4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S3 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
    /* Styles */
}


/* Samsung Galaxy S4 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}


/* Samsung Galaxy S5 ----------- */

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    /* Styles */
}