<div style="margin-top:50px"></div>
<mat-form-field style="margin:20px">
    <mat-select [(value)]="rowLimit" placeholder="Rows">
        <mat-option value="0">None</mat-option>
        <mat-option value="5">5</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="15">15</mat-option>
        <mat-option value="20">20</mat-option>
        <mat-option value="25">25</mat-option>
        <mat-option value="30">30</mat-option>
        <mat-option value="35">35</mat-option>
        <mat-option value="35">50</mat-option>
        <mat-option value="35">75</mat-option>
        <mat-option value="35">100</mat-option>
        <mat-option value="35">200</mat-option>
        <mat-option value="35">300</mat-option>
    </mat-select>
</mat-form-field>