<div class="loadingContainer">

    <!-- <div class="actype">B757-200</div> -->
    <div class="deckTitle">Upper Deck</div>
    <div class="topSideOuterWrap">

        <div class="b757200-pos11-12-13-wrap">
            <div class="uld b757200-pos1">1</div>
            <div class="uld b757200-pos2">2</div>
            <div class="uld b757200-pos3">3</div>
            <div class="uld b757200-pos4">4</div>
            <div class="uld b757200-pos5">5</div>
            <div class="uld b757200-pos6">6</div>
            <div class="uld b757200-pos7">7</div>
            <div class="uld b757200-pos8">8</div>
            <div class="uld b757200-pos9">9</div>
            <div class="uld b757200-pos10">10</div>
            <div class="uld b757200-pos11">11</div>
            <div class="uld b757200-pos12">12</div>
            <div class="uld b757200-pos13">13</div>
            <div class="uld b757200-pos14">14</div>
            <div class="uld b757200-pos15">15</div>
        </div>

    </div>
    <!-- end topSideOuterWrap -->

    <div class="pSectionWrap">
        <div class="uld b757200-pos31">31</div>
        <div class="uld b757200-pos34 uld-loaded">34</div>
    </div>

</div>
<!-- loading container end -->